/PilasyColas/nbproject/private/
/PilasyColas/build/
/Problema05Estrucutras/nbproject/private/
/Problema05Estrucutras/build/
/Ejemplo10Estructuras/nbproject/private/
/Ejemplo10Estructuras/build/
/Taller06/nbproject/private/
/Taller06/build/
/Enlazada/build/
/TallerC2B/nbproject/private/
/TallerC2B/build/
/PilasEnlazadas/nbproject/private/
